<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{users1.name}}</h1>
    <h2>{{users1.wager}}</h2>
    <h2>{{users1.creation_date}}</h2>
    <h1>{{users2.name}}</h1>
    <h2>{{users2.wager}}</h2>
    <h2>{{users2.creation_date}}</h2>
    <h1>{{users3.name}}</h1>
    <h2>{{users3.wager}}</h2>
    <h2>{{users3.creation_date}}</h2>
</body>
</html>