{% extends 'base.html' %}
{% block titulo %}
    Nomina
{% endblock %}

{% block contenido_que_cambia %}
    {% for employee in plantel %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Empleado: {{employee.name}} {{nuevo_familiar.apellido}}</h5>
          <p class="card-text">Su salario es {{employee.wager}} , Ingreso el {{employee.creation_date}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}